#practice{
    background: $sixty;
    color: $ten;
    font-size: 2rem;
    text-transform: uppercase;
    h1{
        text-align: center;
    }
    #has{
        #ble{
            display: flex;
            justify-content: center;
        }
    }
}